NHQ-NPG_kgraph/build
NHQ-NPG_nsw/build
NPG_kgraph/build

NPG_nsw/n2/examples/cpp/hybrid_search
NPG_nsw/n2/examples/cpp/index
NPG_nsw/n2/examples/cpp/search
NPG_nsw/n2/tests/cpp_test/n2_test

NHQ-NPG_nsw/examples/cpp/index
NHQ-NPG_nsw/examples/cpp/index.o
NHQ-NPG_nsw/examples/cpp/search
NHQ-NPG_nsw/examples/cpp/search.o
NHQ-NPG_nsw/src/base.o
NHQ-NPG_nsw/src/distance.o
NHQ-NPG_nsw/src/heuristic.o
NHQ-NPG_nsw/src/hnsw.o
NHQ-NPG_nsw/src/hnsw_node.o
NHQ-NPG_nsw/src/mmap.o